.TodoList {
  background-color: #c8e0e4;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}
.dataTodo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
