.App {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 100px) {
  .App {
    flex-direction: row;
  }
}
